PORT
HOST
NODE_ENV
CORS
MONGODB_URI
SALT_ROUND
JWT_SECRET_KEY
SOLANA_RPC_URL
SOLANA_DEVNET_API
ENCRYPTION_KEY
IV
GOOGLE_CLOUD_KEY_RING
GOOGLE_CLOUD_KEY
GOOGLE_APPLICATION_CREDENTIALS
PROJECT_ID
NETWORK_ENVIRONMENT
NETWORK_ENVIRONMENT 
ACCESS_TOKEN_EXPIRES_IN
ACCESS_TOKEN_PRIVATE_KEY
ETHEREUM_RPC_URL
BSC_RPC_URL
AVALANCHE_RPC_URL
COINGECKO_URL